    <!-- Footer Starts Here -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo">
              <img src="https://shop-fe.s3.eu-central-1.amazonaws.com/header-logo.png" alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/about']">Help</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a [routerLink]="['/contact']">How It Works ?</a></li>
                <li><a [routerLink]="['/about']">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
              <ul class="socials">
                <a href=""><fa-icon [icon]="faFacebook"></fa-icon></a>
                <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon [icon]="faLinkedIn"></fa-icon></a>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Ends Here -->


    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Copyright &copy; 2021 MYSHOP
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sub Footer Ends Here -->
