<!-- Page Content -->
<!-- About Page Starts Here -->
<div class="about-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>About Us</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-image">
          <img src="assets/images/about-us.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <h4>Phasellus vel interdum elit</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae odit blanditiis laudantium aliquid natus nihil cumque,
              aperiam voluptatem molestiae iusto itaque! Cum vero dolorem odio nostrum autem, facilis tempora perspiciatis,
              minus a voluptates, quaerat corporis.</p>
          <br>
          <p>Donec fermentum tincidunt tellus quis fermentum. Proin eget imperdiet purus. Nulla facilisi. Aliquam
            tincidunt porttitor dui sed euismod. Duis est libero, rhoncus fermentum turpis id, tempus fringilla ipsum.
            Nullam venenatis tincidunt neque vel hendrerit. Suspendisse porta pretium porttitor.</p>
          <br>
          <p>Sed purus quam, ultricies eu leo in, sollicitudin varius quam. Proin dictum urna ac diam fermentum tempus.
            Pellentesque urna urna, ullamcorper a tincidunt dignissim, venenatis in nisi. Vivamus in volutpat tellus.
            Etiam fermentum luctus posuere.</p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur pariatur, ab fugit sequi, consectetur nam,
             ut sit ullam maiores nostrum non ipsa minima blanditiis laborum. .Thank you.</p>
          <div class="share">
            <h6>Find us on: <span>
                <ul class="social-links">
                  <a href="">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                  </a>
                  <a href="">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                  </a>
                  <a href="">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                  </a>
                  <a href="">
                    <fa-icon [icon]="faLinkedIn"></fa-icon>
                  </a>
                </ul>
              </span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Page Ends Here -->

<!-- Subscribe Form Starts Here -->

<subscribe-form></subscribe-form>

<!-- Subscribe Form Ends Here -->