
    <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Suspendisse laoreet magna vel diam lobortis imperdiet</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="container">
      <div class="row justify-content-center mt-4 " style="text-align: center;">
        <div class="col">
          <a class="navbar-brand" href=""><img src="assets/images/headerLogo.png" alt=""></a>
        </div>
      </div>
    </div>
    <hr style="margin-top: 30px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="'/'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"[routerLink]="['/products']" >Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"[routerLink]="['/about']" >About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/contact']">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/cart']">Cart<fa-icon [icon]="faCartPlus"></fa-icon></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

<hr>

