<div class="container">
  <div class="row">
    <div class="col">

      <mat-stepper [linear]="isLinear" #stepper>

        <mat-step [completed]="false" [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="First name" formControlName="name" required>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Surname</mat-label>
                    <input matInput placeholder="Surname" formControlName="surname" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-Mail" formControlName="email" required>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthday" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-8">
                  <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input type="tel" matInput placeholder="Phone" formControlName="phone" required>
                  </mat-form-field>
                </div>
              </div>


            </div>

            <div>
              <button class="btn" mat-button matStepperNext>Next</button>
            </div>


          </form>
        </mat-step>

        <mat-step [completed]="false" [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <div class="container">

              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field appearance="fill">
                    <mat-label>Address Title</mat-label>
                    <input matInput formControlName="addressTitle" placeholder="Ex. 1 Main St, New York, NY" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" placeholder="Ex. New York" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>District</mat-label>
                    <input matInput formControlName="district" placeholder="Ex. New York, NY" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="street" placeholder="Main St" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Apartment</mat-label>
                    <input matInput formControlName="apartment" placeholder="Ex. 1" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
                  </mat-form-field>
                </div>
              </div>
            </div>





            <div>
              <button class="btn" mat-button matStepperNext>Next</button>
              <button class="btn" mat-button matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>

        <mat-step [completed]="false" [stepControl]="thirdFormGroup" label="Fill out your address">
          <form [formGroup]="thirdFormGroup">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-checkbox matInput formControlName="services">I agree to Pixie Services Agreement</mat-checkbox>
                </div>
                <div class="col-md-8">
                  <mat-checkbox matInput formControlName="terms">I agree to Terms & Conditions</mat-checkbox>
                </div>
                <div class="col-md-8">
                  <mat-checkbox matInput formControlName="privacy">I agree to Privacy Policy</mat-checkbox>
                </div>
              </div>
            </div>


            <div>
              <button class="btn" mat-button matStepperNext>Next</button>
              <button class="btn" mat-button matStepperPrevious>Back</button>
            </div>
          </form>

        </mat-step>

        <mat-step [completed]="false" [stepControl]="fourtFormGroup" label="Fill out your address">
          <form [formGroup]="fourtFormGroup">
            <div class="container mt-5">
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <h3>You're All Done</h3>
                  <h6>Just place order and we will get in touch</h6>
                </div>
              </div>
            </div>
            <div>
              <button class="btn" mat-button matStepperNext>Place Order</button>
              <button class="btn" mat-button matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>

      </mat-stepper>



    </div>
  </div>
</div>