<div class="container">
    <div class="row">
        <div class="col-md-9">
          <div class="section-heading mt-0 mb-2">
            <div class="line-dec"></div>
            <div class="row">
              <div class="col-md-2 colm"><h1>Your Cart</h1></div>
              <div class="col-md-2 prds text-muted"><h6>{{length()}} Products</h6></div>
            </div>
          </div>

            <div class="card mb-3 productCard" *ngFor="let product of cartProducts">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/assets/images/{{product.imageUrl}}" class="img-fluid card-img rounded" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">description: {{product.description}} </p>
                    <h3 class="card-text"><small class="text-muted">{{product.price}}₺</small></h3>
                  </div>
                </div>
                <div class="col-md-1">
                  <a (click)="delete(product)"><fa-icon [icon]="faTimes" size="lg"></fa-icon></a>
                </div>
              </div>
            </div>

        </div>


        <div class="col-md-3">
                <div class="card selectedItemsCard">
                  <div class="card-body">
                    <h5 class="card-title selectedItems">SELECTED ITEMS</h5>
                    <h6 class="priceTL">{{totalPrice}}₺</h6>
                    <h6 class="priceDollar text-muted"> {{totalPriceDollar}} $</h6>
                    <a [routerLink]="['/stepper']" class="btn btn-primary checkout">CHECKOUT</a>
                    <hr>
                    <p class="p">Cargo: {{cargoPrice}}$ </p>
                    <p class="p">Items:</p>
                    <ul class="p">
                      <li class="itemsList" *ngFor="let product of cartProducts">
                        <a routerLink='/detail/{{product.id}}'>{{product.name}}</a>
                      </li>
                    </ul>
                    <p class="p">Total: {{totalPrice+10*15}}₺ </p>
                    <p >{{totalPriceDollar+10}}$</p>
                    <a (click)="discountClick()" class="btn btn-primary discount">discount code</a>
                    <div *ngIf="discount" class="input-group mt-2">
                      <input type="text" class="form-control">
                      <button class="btn btn-outline-secondary btnAddToCart" type="button">Add</button>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>

<div class="featured-items">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>You May Also Like</h1>
  
            <div class="container">
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <div *ngFor="let product of products.slice(8,12)" class="col mb-5">
                  <div class="card">
                      <img routerLink='/detail/{{product.id}}' src="/assets/images/{{product.imageUrl}}" class="card-img-top" alt="...">
                      <div routerLink='/detail/{{product.id}}' class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                      </div>
                      <div class="card-footer">
                        <strong>{{product.price}}₺ </strong>
                        <button (click)="saveToCart(product)" class="btn btnAddToCart">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="subscribe-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Subscribe on PIXIE now!</h1>
          </div>
        </div>
        <div class="col-md-8 offset-md-2">
          <div class="main-content">
            <p>Godard four dollar toast prism, authentic heirloom raw denim messenger bag gochujang put a bird on it
              celiac readymade vice.</p>
            <div class="container">
              <form id="subscribe" action="" method="get">
                <div class="row">
                  <div class="col-md-7">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email"
                        onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                        onBlur="if(this.value == '') { this.value = 'Your Email...';}" value="Your Email..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-5">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">Subscribe Now!</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>