.priceTL{
    font-size:xx-large ;
}

.selectedItems{
    color: #5c86cb;
    font-size: medium;
}
.checkout{
    border-color:#5c86cb ;
    background-color: #5c86cb;
    width: 180px;

}
.discount{
    border-color:#5c86cb ;
    background-color: #5c86cb;
    width: 180px;
    text-transform: uppercase;
}
fa-icon{
    float: right;
    margin-right: 5px;
    color: #5c86cb;
    text-shadow: grey;
    padding-top: 5px;
}

a:hover fa-icon  {
    color: red;
}

.prds{
    margin-top: 20px;
    text-transform: lowercase;
}
.btn{
    max-width: 100%;
}
.img{
    max-width: 200%;
    max-height: 100%;
}
/* .card-body{
    margin-left: 10%;
} */

.productCard{
    max-width: 100%;
}
.img-fluid{
    height: 100%;
}

@media only screen and (max-width: 767px) {
    fa-icon{
        background-color: #5c86cb;
        border: none;
        position: relative;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        border-radius: 12px;
        float: right;
        margin-bottom: 20px;
    }
  }