.priceTL{
    font-size:xx-large ;
}

.selectedItems{
    color: #3a8bcd;
    font-size: medium;
}
.checkout{
    border-color:#3a8bcd ;
    background-color: #3a8bcd;
    width: 180px;

}
.checkout:hover{
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}
.discount{
    border-color:#3a8bcd ;
    background-color: #3a8bcd;
    width: 180px;
    text-transform: uppercase;
}
.discount:hover{
    background-color: cornflowerblue;
    border-color: cornflowerblue ;
}
fa-icon{
    float: right;
    margin-right: 5px;
    color: #3a8bcd;
    text-shadow: grey;
    padding-top: 5px;
    transition: 0.3s;
}

a:hover fa-icon  {
    color: red;
}

.prds{
    margin-top: 20px;
    text-transform: lowercase;
}
.btn{
    max-width: 100%;
}
.img{
    max-width: 200%;
    max-height: 100%;
}
/* .card-body{
    margin-left: 10%;
} */

.productCard{
    max-width: 100%;
}
.img-fluid{
    height: 100%;
}

@media only screen and (max-width: 767px) {
    fa-icon{
        background-color: #5c86cb;
        border: none;
        position: relative;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        border-radius: 12px;
        float: right;
        margin-bottom: 20px;
    }
  }

.p{
    margin-bottom: 3px;
}
.itemsList{
    text-decoration: none;
    list-style: none;
    color: black;
}

.productCard{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.productCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.btnAddToCart{
    background-color: #3a8bcd !important;
    color: white;
    border-color:#3a8bcd  ;
    float: right;
    transition: 0.3s;
  }
  .btnAddToCart:hover{
    background-color: cornflowerblue !important;
    color: white;
  }
.price{
    font-weight: bolder;
    font-size: large;
    margin: auto;
    width: 50%;
    margin: auto;
}
.emptyText  {
    text-align: center;
}
.gif{
    width: 150px;
    margin-bottom: -20px;
}