<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <navbar></navbar>

    <!-- Page Content -->
    <router-outlet></router-outlet>

    <!-- Footer Starts Here -->
    <!-- Sub Footer Starts Here -->
    <footer></footer>
    <!-- Footer Ends Here -->
    <!-- Sub Footer Ends Here -->




    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
