<!-- Page Content -->
<!-- Items Starts Here -->
<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Featured Items</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div id="filters" class="button-group">
          <button class="btn btn-primary" (click)="sortAll()" data-filter="*">All Products</button>
          <!-- <button class="btn btn-primary" data-filter=".new">Newest</button> -->
          <button class="btn btn-primary" (click)="sortLow()" data-filter=".low">Low Price</button>
          <button class="btn btn-primary" (click)="sortHigh()" data-filter=".high">Hight Price</button>
          <a *ngIf="cartProducts.length>0" class="btn btn-primary" [routerLink]="['/cart']"><fa-icon [icon]="faCartPlus"></fa-icon>Go To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let product of productSlice"  class="col">
      <div class="card">
          <img routerLink='/detail/{{product.id}}' src="/assets/images/{{product.imageUrl}}" class="card-img-top" alt="...">
          <div routerLink='/detail/{{product.id}}' class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
          <div class="card-footer">
            <strong class="price">{{product.price}}₺ </strong>
            <button (click)="addToCart(product)" style="background-color: #5c86cb; float: right; color: white;" class="btn">Add To Cart</button>
          </div>
      </div>
    </div>
  </div>

  <mat-paginator [length]="this.products.length" [pageSize]="12" aria-label="Select page" (page)="OnPageChange($event)">
  </mat-paginator>



</div>

<!-- Featred Page Ends Here -->


<!-- Subscribe Form Starts Here -->
<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Subscribe on PIXIE now!</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>Godard four dollar toast prism, authentic heirloom raw denim messenger bag gochujang put a bird on it
            celiac readymade vice.</p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}" value="Your Email..." required="">
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Subscribe Now!</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe Form Ends Here -->
