mat-paginator{
  margin-top: 15px;
  margin-bottom: 15px;
}
.card{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.price{
  font-weight: bolder;
  font-size: large;
  margin: auto;
  width: 50%;
  margin: auto;
}
.card-footer{
  cursor: default;
}
.btnAddToCart{
  background-color: #3a8bcd !important;
  transition: 0.3s;
}
.btnAddToCart:hover{
  background-color: cornflowerblue !important;
}

