mat-paginator{
  margin-top: 15px;
  margin-bottom: 15px;
}
.card{
  cursor: pointer;
}

.price{
  font-weight: bolder;
  font-size: large;
  margin: auto;
  width: 50%;
}
.card-footer{
  cursor: default;
}