.social-links{
    font-size: large;
    
}
fa-icon{
    color: #3a8bcd;
    border-radius: 50px;
    margin-right: 5px;
}
a:hover fa-icon
{
    color: cornflowerblue;
}
.categories a:hover {
    color: #5c86cb;
}
.card{
    cursor: pointer;
}
#slideButton{
    background-color: #3a8bcd !important;
    border-radius: 50px;
}
.addToCartButton{
    background-color: #3a8bcd;
    float: right;
    color: white;
}