.social-links{
    font-size: large;
    
}
fa-icon{
    color: #3a8bcd;
    border-radius: 50px;
    margin-right: 5px;
}
a:hover fa-icon
{
    color: cornflowerblue;
}
.categories a:hover {
    color: #5c86cb;
}
.card{
    cursor: pointer;
}
#slideButton{
    background-color: #3a8bcd !important;
    border-radius: 50px;
}
.addToCartButton{
    background-color: #3a8bcd;
    float: right;
    color: white;
}
.price{
    font-weight: bolder;
    font-size: large;
    margin: auto;
    width: 50%;
    margin: auto;
}
@media only screen and (max-width:1399px) {
    .text-truncate{
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
@media only screen and (max-width:1199px) {
    .text-truncate{
        width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .price{
      font-size: small;
    }
    
}
@media only screen and (max-width:991px) {
    .text-truncate{
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
