<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2>E-Commerce Template</h2>
          <div class="line-dec"></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos esse itaque illum nulla dolor, nam saepe id maiores voluptatum repellendus sint. Officia ab repellendus provident?
            <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt sint? Eum necessitatibus reiciendis dolorum.
          </p>
          <div class="main-button">
            <a [routerLink]="['/products']" >Order Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->

<!-- Featured Starts Here -->
<div class="featured-items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Featured Items</h1>
        </div>
      </div>


      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" style="background-color: #5c86cb;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active btnmt" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" style="background-color: #5c86cb;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="btnmt" aria-label="Slide 2"></button>
          <button type="button" style="background-color: #5c86cb;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="btnmt" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="container">
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <div *ngFor="let product of products.slice(0,4)"     class="col mb-5">
                  <div routerLink='/detail/{{product.id}}' class="card">
                      <img src="/assets/images/{{product.imageUrl}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                      </div>
                      <div class="card-footer">
                        <strong>{{product.price}}₺ </strong>
                        <button class="btn">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="carousel-item">

            <div class="container">
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <div *ngFor="let product of products.slice(4,8)" class="col mb-5">
                  <div routerLink='/detail/{{product.id}}' class="card">
                      <img src="/assets/images/{{product.imageUrl}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                      </div>
                      <div class="card-footer">
                        <strong>{{product.price}}₺ </strong>
                        <button class="btn">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="carousel-item">


            <div class="container">
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <div *ngFor="let product of products.slice(8,12)" class="col mb-5">
                  <div routerLink='/detail/{{product.id}}' class="card">
                      <img src="/assets/images/{{product.imageUrl}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                      </div>
                      <div class="card-footer">
                        <strong>{{product.price}}₺ </strong>
                        <button class="btn">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Featred Ends Here -->


<!-- Subscribe Form Starts Here -->
<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Subscribe Now!</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eligendi labore reiciendis ipsum officiis odio inventore mollitia beatae. Earum, beatae?</p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}" value="Your Email..." required="">
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Subscribe Now!</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe Form Ends Here -->
